.header {
    background-color: #041038;
    position: sticky;
    top: 0;
    padding: 10px 0;
    &--euro {
        background-color: #004b55;
    }
    &__container {
        padding-right: 80px;
        padding-left: 80px;
    }
    &__wrapper {
        display: flex;
        align-items: center;
    }
}

.main-nav {
    display: flex;
    align-items: center;
    margin-left: 80px;
    &__item {
        position: relative;
        margin-right: 30px;
        font-size: 18px;
        line-height: 30px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        padding: 10px 0;
        color: #fff;
        display: block;
        transition: all .3s ease 0s;
        &:hover {
            color: #a9a9a9;
        }
    }
}

.change-tournament {
    margin-left: auto;
    &__select {
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
        font-size: 18px;
        font-family: inherit;
        padding: 7px 10px;
    }
}